.list-container {
    display: flex;
    height: calc(100% - 150px);
    overflow: auto;
    flex: 1;
    flex-direction: column;
}

.list-settings {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    input {
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid #e1e1e1;
        outline: none;
        padding: 5px;
        font-family: LatoLight;
        margin-bottom: 20px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;

    @media only screen and (max-width: 961px) {
        padding: 30px 30px 60px 30px;
    }
}

.radio-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.radio-button {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-family: LatoLight;
    padding-left: 25px;
    line-height: 20px;
    input {
        display: none;
    }
    span {
        display: inline-block;
        width: auto;
    }
    &:first-child, &:nth-child(2) {
        margin-right: 15px;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0;
        position: absolute;
        left: 2px;
        bottom: 2px;
        border: none;
        border-radius: 20px;
        background-color: #e1e1e1;
        border: 1px solid #e1e1e1;
    }
    &-active {
        &:before {
            background-color: #4b60a1;
            border: 1px solid #4b60a1;
        }
    }
}
