.list-container {
    overflow: auto;
}

.list-settings {
    padding: 30px 30px 0 30px;
    input {
        font-size: 16px;
        border: 0;
        border-bottom: 1px solid #e1e1e1;
        outline: none;
        padding: 5px;
        font-family: LatoLight;
    }
}

.list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
}
