.list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
}

.add-button {
    height: 60px;
    width: 60px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    background: #4b60a2;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
