.app {
    display: flex;
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    flex-direction: column;
    align-items: center;
    background: #bac1d1;
    padding: 50px;
}

.app-box {
    .app-header {
        display: flex;
        height: 150px;
        width: calc(100% - 60px);
        align-items: center;
        justify-content: start;
        padding: 30px;
        color: white;
        background: url('../../images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        .app-title {
            font-size: 50px;
            font-family: LatoHairline;
            line-height: 55px;
        }
    }
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    max-width: 700px;
    background: white;
}
