.row {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
    background: white;
    .button {
        border-radius: 50%;
        color: white;
    }
    .button-check {
        display: flex;
        height: 30px;
        width: 30px;
        border: 1px solid #e1e1e1;
        margin-right: 15px;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        &--complete {
            background: #4b60a2;
            border: 1px solid #4b60a2;
        }
        &--incomplete {
            background: white;
        }
    }
    span {
        flex: 1;
        text-align: justify;
        word-break: break-all;
    }
}

.settings {
    display: flex;
    button, a {
        display: flex;
        height: 31px;
        width: 31px;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        border: none;
        font-size: 12px;
    }
    .button-edit {
        background: #ff9800;
    }
    .button-remove {
        background: #f44336;
    }
}
